<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <p>Hi, my name is Jacquelyn. I'm a BYU-Idaho student working on my Bachelor's Dress in Software Development. I am a mom of 3.</p>

    <h2>My Hobbies</h2>
    <ul>
        <li>Hiking</li>
        <li>Reading</li>
        <li>Coding</li>
    </ul>

    <img src="/images/me.png" alt="Picture of me" width="200">
</main>

<%- include('partials/footer') %>